# Text Processing
pypdf
openai
pinecone
python-dotenv
fastapi
uvicorn
python-multipart
openpyxl
python-docx
pandas
# whisper-timestamped
# yt-dlp
# ffmpeg-python

# Debugging
debugpy

# Multimodal Processing - Images
# pillow
# clip-interrogator
# pytesseract
# opencv-python

# Multimodal Processing - Deep Learning
# torch
# torchvision
# transformers

# Multimodal Processing - Audio
# librosa
# soundfile
# openai-whisper

# Multimodal Processing - Video
# moviepy
# scenedetect

# Utilities
numpy
scipy
# fastapi
# uvicorn